
.navbar-dark .navbar-brand {
    color: #312c2c;}
    
.navbar-dark .navbar-nav .nav-link {
    color: rgba(78, 69, 69, 0.5);
}
form{
	float: right;
	width: 500px;
	height: 500px
}
  footer{
    background-color: #9e9e9e33;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    height:200px;}
    p,h1{text-align: center;
    	color: grey;
    	margin:87px;


    }
   
    button{
    	border:2px solid grey;
    	border-radius: 5px;
    	align-items: center;
    	justify-content: center;
    	margin: 30px;
    	width: 200px;
    	height: 50px
    }